site_name: scipeds
site_description: A Python package for working with IPEDS data
repo_url: https://github.com/scienceforamerica/scipeds
theme:
  name: "material"
  features:
    - content.code.copy
  palette:
    scheme: sfa

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Usage: usage.ipynb
  - FAQ: faq.md
  - Contributing: contributing.md
  - Changelog: changelog.md
  - API Reference:
    - Query engine: data.md
    - Completions: completions.md
    - Enumerations: enums.md
    - Queries: queries.md
    - CIP code handling: cip.md

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.snippets:
      base_path: ../
  - pymdownx.superfences
  - tables

plugins:
  - gen-files:
      scripts:
        - scripts/generate-schema.py
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            heading_level: 2
            inherited_members: true
            members_order: source
            merge_init_into_class: true
            separate_signature: false
            show_bases: false
            show_if_no_docstring: false
            show_signature_annotations: true
            show_source: false
            unwrap_annotated: true
            extensions: 
              - griffe_pydantic
  - mkdocs-jupyter:
      execute: true
  - search

watch:
  - ../